.Home div{
    width: 200px;
    height: 200px;
    border: 2px solid rgb(114, 110, 110);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 10px;
}
.Home{
    display: flex;
    justify-content: center;
    
}