.activeLink{
  color: red;
  font-weight: bold;
  border: 1px solid black;
  padding: 10px;
}
.App{
  margin: 0;
}
.ulNav {  
  display: flex;
  justify-content: center;
 text-align: center;
}
.ulNav li{
 padding: 10px;
 list-style-type: none;
 color: black;
}
